@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto';
    background-color: white;
}


.header {
    display: flex;
    align-items:center;
    
    padding-top: 10px;
}

.website-logo {
    height: 60px;
}

.left-header {
    padding-left: 100px;
}

.name{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 28px;
    font-weight:600;
    color: black;
}

.middle-header {
    display: flex;
    flex: 1;
}

.right-header {
    padding-right: 100px;
}

.right-header .navigation li a{
    text-decoration: none;
    color: black;
}


.right-header ul {
    list-style-type: none;
    font-size: 18px;
}


.right-header ul li {
    display: inline-block;
    margin-right: 50px;

}




.role {
    padding-left: 100px;
    padding-top: 150px;
}

.role span {
    position: relative;
    font-size: 20px;
}
.role span::before {
    content: "Gamer";
    color: #FDB935;
    animation: words 20s infinite;
}
.role span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background: white;
    border-left: 2px solid white;
    right: -8px;
    animation: cursor .8s infinite , typing 20s steps(14) infinite;

}
@keyframes cursor {
    to {
        border-left: 2px solid black;
    }
}

@keyframes words {
    0%,20%{
        content: "UI/UX Designer";
    }
    21%,40%{
        content: "Web Developer";
    }
    41%,60%{
        content: "Hacker";
    }
    61%,80%{
        content: "ElBoo Fan";
    }
    81%,100%{
        content: "Kathniel Fan";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}


.contents {
    margin: 0;
}

.introduction p{
    padding-left: 100px;
    color: black;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    Width: 550px;
    font-family: 'Playfair Display', serif;
}

.introduction span {
}


.description p {
    padding-left: 100px;
    font-size: 18px;
    color: #444444;
    width: 550px;
}

.pic-container{
    
}

.pic {
    position: absolute;
    top: 130px;
    right: 100px;
    height: 600px;
}

.button-container {
    padding-left: 100px;
    padding-top: 20px;

}

.button-container .projects{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FDB935;
    font-weight:500;
    border: none;
    color: black;
    font-size: 20px;
    border-radius: 6px;
    margin-right: 10px;
}

.button-container .linkedin {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 3px solid black;
    border-radius: 6px;
    font-size: 20px;
    font-weight:500;
}

.button-container .linkedin:hover {
    background-color: #2867B2; 
    color: white;
    border-color: #2867B2;
    box-shadow: 0px 0px 5px #2867B2;
  }
.button-container .projects:hover {
    background-color: #FFC72C; 
    transform: scale(1.05);
  }